<main>
    <h1>Sign up</h1>
    <form>
        <div><i>&copy;</i><input type="email" placeholder="email@email.com"></div>
        <div><i>&copy;</i><input type="text" placeholder="Nome"></div>
        <div><i>&copy;</i><input type="text" placeholder="username"></div>
        <div><i>&copy;</i><input type="password" placeholder="Senha"></div>
        <div><i>&copy;</i><input type="file" accept="image/*"></div>
        <button type="submit">Sign up</button>
    </form>
    <div>
        <span>Log In</span>
    </div>
    <div>
        <i>google</i>
        <i>apple</i>
        <i>facebook</i>
    </div>
</main>