/* You can add global styles to this file, and also import other style files */

:root {
    --black-800: #131212;
    --black-900: #050505;
    --beige-100: #f1edd4;
    --white-100: #f5f5f5;
    --gray-300: #3f3f3f;
    --white: #fffefe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
textarea,
button,
select {
    font-family: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--black-800);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--beige-100);
    }
}